<header class="mx-[12px] mt-[12px] rounded-lg">
    <h1>Chefs Academy Secrets</h1>
</header>

<style>
    header {
        background-image: url("/hero-imagehc.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 420px;
    }
</style>